<a href="https://colab.research.google.com/github/ultrasmartary/MLCollege/blob/master/MLCollege_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'a':[10,11,222,11,15],
                 'b':[10,20,30,30,40],
                 'c':[25,35,45,9,8]})
print(df)
print(df.shape)
print(df.dtypes)
print(df.columns)
print(df.head(2))
print(df.tail(2))
ind=['r1','r2','r3','r4','r5']
df.index=ind
print(df)

     a   b   c
0   10  10  25
1   11  20  35
2  222  30  45
3   11  30   9
4   15  40   8
(5, 3)
a    int64
b    int64
c    int64
dtype: object
Index(['a', 'b', 'c'], dtype='object')
    a   b   c
0  10  10  25
1  11  20  35
    a   b  c
3  11  30  9
4  15  40  8
      a   b   c
r1   10  10  25
r2   11  20  35
r3  222  30  45
r4   11  30   9
r5   15  40   8

In [2]:
#loc
#iloc
#describe

print(df.loc[['r2','r4'],['a','c']])
print(df)
print('\n')
print(df.iloc[[0,2,4],[0,1]])
print(df.describe())

     a   c
r2  11  35
r4  11   9
      a   b   c
r1   10  10  25
r2   11  20  35
r3  222  30  45
r4   11  30   9
r5   15  40   8


      a   b
r1   10  10
r3  222  30
r5   15  40
                a          b          c
count    5.000000   5.000000   5.000000
mean    53.800000  26.000000  24.400000
std     94.046265  11.401754  16.149303
min     10.000000  10.000000   8.000000
25%     11.000000  20.000000   9.000000
50%     11.000000  30.000000  25.000000
75%     15.000000  30.000000  35.000000
max    222.000000  40.000000  45.000000

In [3]:
ipl=pd.read_csv('/content/drive/My Drive/Colab_Dataset/matches.csv')
ipl.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [4]:
# IPL Dataset Questions

In [5]:
# unique(),value_counts(),len(),sum(),idxmax(),idxmin(),min(),max(),&,|
#1)Find total number of matches held
#2)Find total number of Seasons Held
#3)Identify the team winning by maximum runs(mention team name and runs made)
#4) Identify the team winning by maximum Wickets(mention team name, win_by_runs and win_by_wickets)
#5) Identify the team winning by minimum no. of Wickets(mention team name, win_by_runs and win_by_wickets)
#6)% of team winning if they won the toss and decided to bat first
#7)% of team winning if they won the toss
#8)Most Successful team
#9)Season having maximum number of matches
#10)List teams winning by 10 wickets
#11)Total No. of teams winning by 10 wickets

In [6]:
#1)Find total number of matches held
print('total matches held:',len(ipl))
print('\ntotal matches held using max:',ipl['id'].max())

total matches held: 636

total matches held using max: 636

In [7]:
#2)Find total number of Seasons Held
print(ipl.columns)
print('List of Seasons held',ipl['season'].unique())
print('Total no of seasons held',len(ipl['season'].unique()))

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')
List of Seasons held [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Total no of seasons held 10

In [8]:
#3)Identify the team winning by maximum runs(mention team name and runs made)
best=ipl['win_by_runs'].idxmax()
ipl.iloc[best,[10,11]]

winner         Mumbai Indians
win_by_runs               146
Name: 43, dtype: object

In [9]:
#4) Identify the team winning by maximum Wickets(mention team name, win_by_runs and win_by_wickets)
max_wickets=ipl['win_by_wickets'].idxmax()
ipl.loc[max_wickets,['winner','win_by_runs','win_by_wickets']]

winner            Kolkata Knight Riders
win_by_runs                           0
win_by_wickets                       10
Name: 2, dtype: object

In [10]:
#5) Identify the team winning by minimum no. of Wickets(mention team name, win_by_runs and win_by_wickets)
min_wickets=ipl['win_by_wickets'].idxmin()
print(ipl.loc[min_wickets,['winner','win_by_runs','win_by_wickets']])

winner            Sunrisers Hyderabad
win_by_runs                        35
win_by_wickets                      0
Name: 0, dtype: object

In [11]:
#6)% of team winning if they won the toss and decided to bat first
ipl_bat=ipl[(ipl['toss_winner']==ipl['winner']) & (ipl['toss_decision']=='bat')]
(len(ipl_bat)/len(ipl))*100

19.49685534591195

In [12]:
#7)% of team winning if they won the toss
ipl.columns
(len(ipl[(ipl['toss_winner']==ipl['winner'])])/len(ipl))*100

51.100628930817614

In [13]:
#8)Most Successful team
best_team=ipl['winner'].value_counts()
print(best_team)
best_team.idxmax()

Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: winner, dtype: int64

'Mumbai Indians'

In [14]:
#9)Season having maximum number of matches
print(ipl.columns)
df=ipl['season'].value_counts()
print(df)
df.idxmax()

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')
2013    76
2012    74
2011    73
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

2013

In [15]:
#10)List teams winning by 10 wickets
l=ipl[(ipl['win_by_wickets']==10)].reset_index()
print(l)

   index   id  season  ...          umpire1          umpire2 umpire3
0      2    3    2017  ...      Nitin Menon        CK Nandan     NaN
1     34   35    2017  ...         YC Barde        CK Nandan     NaN
2     71   72    2008  ...        Asad Rauf       SL Shastri     NaN
3    119  120    2009  ...        MR Benson        SD Ranade     NaN
4    183  184    2010  ...      K Hariharan        DJ Harper     NaN
5    298  299    2011  ...      RE Koertzen       PR Reiffel     NaN
6    376  377    2012  ...  HDPK Dharmasena    C Shamshuddin     NaN
7    390  391    2013  ...        Aleem Dar    C Shamshuddin     NaN
8    542  543    2015  ...        M Erasmus           S Ravi     NaN
9    590  591    2016  ...       K Bharatan  HDPK Dharmasena     NaN

[10 rows x 19 columns]

In [16]:
#11)Total No. of teams winning by 10 wickets
print(len(l))

10