<a href="https://colab.research.google.com/github/ultrasmartary/MLCollege/blob/master/MLCollege_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started

In [ ]:
print("Welcome to the world of Python")

Welcome to the world of Python

In [ ]:
# How to write comments
x=100
print(x)# This is my second program

100

# Variables in python

In [ ]:
# variables need not to be declared here
x=100 #integer
y='Python3'#string
w="GNIOT Plot no7"
z=99.80 #float
print(x,type(x))
print(y, type(y))
print(w,type(w))
print(z,type(z))

100 <class 'int'>
Python3 <class 'str'>
GNIOT Plot no7 <class 'str'>
99.8 <class 'float'>

# Data Types in Python
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

In [ ]:
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>

In [ ]:
# numeric data types
a=110
b=20.10
c=100j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

#### Type casting
int()
float()
str()

In [ ]:
a=input("Enter any number")
b=input("Enter another number")
print(int(a)+int(b))
#print(type(a))

Enter any number5
Enter another number5
10

In [ ]:
e=int(9.9)
f=int("8")
g=float("9.9")
h=float(10)
l=str(3)
m=str(9.9)
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(l),l)
print(type(m),m)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'> 3
<class 'str'> 9.9

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

###### List:
List is a collection which is ordered and changeable. Allows duplicate members.
###### Tuple: 
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
###### Set: 
Set is a collection which is unordered and unindexed. No duplicate members.
###### Dictionary: 
Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.it contains Key-value pair.

In [ ]:
# List
branches=["CSE","IT","ECE","ME"]
ranking=[1,2,3,4,5]
print(branches)
print(ranking)
print(branches[2])
print(branches[-1])
print(branches[1:4])
print(branches[:3])
branches[1]='AI'
print(branches)

['CSE', 'IT', 'ECE', 'ME']
[1, 2, 3, 4, 5]
ECE
ME
['IT', 'ECE', 'ME']
['CSE', 'IT', 'ECE']
['CSE', 'AI', 'ECE', 'ME']

# Methods defined on list:
 Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [ ]:
# Tuple
branch=("CSE","IT","ECE","ME", "AI")
#print(branch)
#print(branch[4])
#print(branch[-2])
#print(branch[2:5])
#print(branch[:3])
#branch[2]='AI'
#print(branch)

# Tuple methods
Method	Description
count()	Returns the number of times a specified value occurs in a tuple.
index()	Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
# Sets
br={"CSE","IT","ECE","ME"}
a={1,2,3,4}
b={'a','b','c'}
print(a)
print(b)
#print(b[1])
#print(br)
#print(br[1])
#for i in br:# can not access individual items through index
 #   print(i)

{1, 2, 3, 4}
{'c', 'b', 'a'}

# Methods for sets
Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

In [ ]:
# Dictionary
comp={ "cpu":"Intel i3",
      "RAM":"4.0GB",
      "HDD":"500GB",
      "Make":"HP",
      "Year":2015
     }
#print(comp)
#print(comp["Make"])
#comp["Year"]=2014
#print(comp["Year"])
#print(comp)
for i in comp:
    print(i)
for i in comp:
    print(comp[i])

cpu
RAM
HDD
Make
Year
Intel i3
4.0GB
500GB
HP
2015

# Dictionary Methods
Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

### Arithmetic operators
### Assignment operators
### Comparison operators
### Logical operators
### Identity operators
### Membership operators
### Bitwise operators

# Arithmetic Operators
Operator	Name	           Example	
+	        Addition	        x + y	
-	        Subtraction	        x - y	
*	        Multiplication	    x * y	
/	        Division	        x / y	
%	        Modulus	            x % y	
**	        Exponentiation	    x ** y	
//	        Floor division	    x // y

# Assignment Operators
Operator	Example	     Same As	
=	         x = 5	      x = 5	
+=	         x += 3	      x = x + 3	
-=	         x -= 3	      x = x - 3	
*=	         x *= 3	      x = x * 3	
/=	         x /= 3	      x = x / 3	
%=	         x %= 3	      x = x % 3	
//=	         x //= 3	  x = x // 3	
**=	         x **= 3	  x = x ** 3	
&=	         x &= 3	      x = x & 3	
|=	         x |= 3	      x = x | 3	
^=	         x ^= 3	      x = x ^ 3	
>>=	         x >>= 3	  x = x >> 3	
<<=	         x <<= 3	  x = x << 3

# Comparision Operator
Operator	 Name	                   Example	
==	         Equal	                    x == y	
!=	         Not equal	                x != y	
>	         Greater than	            x > y	
<	         Less than	                x < y	
>=	         Greater than or equal to	x >= y	
<=	         Less than or equal to	    x <= y

# Logical Operator
Operator	Description	                                           Example	
and 	    Returns True if both statements are true	      x < 5 and  x < 10	
or	        Returns True if one of the statements is true	  x < 5 or x < 4	
not	        Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

# Identity operator
Operator	Description	                                     Example	
is 	        Returns True if both variables are the same      object	x is y	
is not	    Returns True if both variables are not the same  object	x is not y

# Membership Operator

Operator	Description	                                               Example	
in       	Returns True if a sequence with the specified value is present in the object	                                                         x in y	
not in	    Returns True if a sequence with the specified value is not present in the object	                                                    x not in y

# Bitwise Operator
Operator	Name	                Description
& 	        AND	                     Sets each bit to 1 if both bits are 1
|	        OR	                     Sets each bit to 1 if one of two bits is 1
 ^	        XOR	                     Sets each bit to 1 if only one of two bits is 1
~ 	        NOT	                     Inverts all the bits
<<	        Zero fill left shift	 Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	        Signed right shift	     Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
# if else
a=input("Enter a:")
b=input("Enter b:")
if int(a)<int(b):
    print(b, 'is greater')
else:
    print(a, 'is greater')
type(a)

Enter a:5
Enter b:6
6 is greater

str

# Python Loops
Python has two primitive loop commands:

while loops
for loops

In [ ]:
# while loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# while loop 2
i = 1
while i <=5:
  print(i)
  i += 1
print("i is no longer less than 5")

1
2
3
4
5
i is no longer less than 5

In [ ]:
# for loop
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [ ]:
# for loop 2
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for loop 3
for x in range(4,15):
    print(x)

4
5
6
7
8
9
10
11
12
13
14

In [ ]:
# for loop 3
for x in range(3,31,3):
    print(x)

3
6
9
12
15
18
21
24
27
30

# Functions in python
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

In [ ]:
# defining and calling a function
def fun():
    print("Fun with python and Machine Learning")

In [ ]:
fun()

Fun with python and Machine Learning

In [ ]:
# defining and calling a function
def sum(n):
    i=1
    s=0
    while i<=n:
        s=s+i
        i=i+1
    return s
m=input("Enter the number: ")
print(type(m))
o=sum(int(m))
print("The sum upto",m,"numbers is:",o )

Enter the number: 8
<class 'str'>
The sum upto 8 numbers is: 36

# Class and Objects: 
Class is like a blue print to create the object. 
Almost everything in python is an object.

In [ ]:
# Defining a class and creating the object of it.
class box:
    l=5
    b=4
    h=3
x=box()
#print(x)
print(x.l,x.b,x.h)
# function _init_()
class box:
    def __init__(self,l,b,h):
        self.l=l
        self.b=b
        self.h=h
    def volume(self):
        return self.l*self.b*self.h
        
x=box(2,2,2)
y=box(4,5,6)
print(x.l,x.b,x.h)
print(x.volume())
print(y.l,y.b,y.h)
print(y.volume())
type(x)

5 4 3
2 2 2
8
4 5 6
120

__main__.box

# References
1. https://www.w3schools.com/python/